$x: 25%;

$y: 25%;

@keyframes rotateBg {
	0% {
		$x: 20%;
		$y: 20%;
	}

	12.5% {
		$x: 10%;
		$y: 50%;
	}

	25% {
		$x: 20%;
		$y: 80%;
	}

	37.5% {
		$x: 50%;
		$y: 90%;
	}

	50% {
		$x: 80%;
		$y: 80%;
	}

	62.5% {
		$x: 90%;
		$y: 50%;
	}

	75% {
		$x: 80%;
		$y: 20%;
	}

	87.5% {
		$x: 50%;
		$y: 10%;
	}

	100% {
		$x: 20%;
		$y: 20%;
	}
}

.default-theme {
	$bg1: rgb(35, 12, 103);
	$bg2: rgb(0, 0, 0);
	$color1: #fff;
	$color2: #78efff;
	$color3: rgb(255, 98, 255);


	h1,
	h2,
	h3 {
		text-shadow: 0px 0px 1.2rem $color3;
	}

	input {
		color: $color1;
		background: rgba(0, 0, 0, 0.4);
		border: none;
		border-bottom: 1px solid $color1;
		box-shadow: 0 6px 40px -20px $color2;
		text-shadow: 0px 0px 12px $color2;
		transition: box-shadow 0.3s;
	}

	input:focus {
		box-shadow: 0 6px 60px -20px $color2;
	}

	select {
		color: $color1;
		border: none;
		outline: none;
	}

	a {
		text-shadow: 0px 0px 12px $color2;
		color: $color1
	}

	a:hover {
		/* background: rgba(0, 0, 0, 0.2); */
		text-shadow: 0px 0px 30px $color2, 2px 2px 8px #000;
	}

	select:focus,
	select:active {
		border: none;
		outline: none;
	}

	&.bg {
		background: radial-gradient(circle at $x $y,
				$bg1 0%,
				$bg2 130%);
		animation: rotateBg 10s linear infinite;
	}
}